# wbl-frontend/k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wbl-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wbl-frontend
  template:
    metadata:
      labels:
        app: wbl-frontend
    spec:
      containers:
      - name: wbl-frontend
        image: IMAGE_PLACEHOLDER
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        envFrom:
        - secretRef:
            name: frontend-secrets
        env:
        - name: PORT
          value: "3000"
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
